# IDE & System files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Backend (Laravel) Specific
backend/.env
backend/vendor/
backend/storage/*.key
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/storage/logs/*

# Frontend (Next.js) Specific
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/

# General
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*